:root {
  width: 100vw;
  overflow-x: hidden;
  

  display: flex;
  justify-content: center;
  justify-content: center; /* Adicionado para centralizar verticalmente */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  

  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  overflow-x: hidden;
}

main {
  height: 85.9vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.no-selection {
  -webkit-user-select: none;  /* Safari */
  -moz-user-select: none;     /* Firefox */
  -ms-user-select: none;      /* Internet Explorer/Edge */
  user-select: none;          /* Standard */
}

.padrao {
  width: 100%;
  /* As propriedades abaixo centralizam o conteúdo da div .padrao */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
